
{% extends "itt/base.html" %}

{% block title %}
	{{thread.topic}}
{% endblock %}

{% block content %}
	
		<div class="column panel"> 
			<h1 class="threadTitle">ITT: {{thread.topic}}</h1><br/>
			{% for m in messages %}
				<span class="author_font">{{m.author}}</span>
				<span class="timestamp_font">{{m.timestamp}}</span>
				<p class="strand">{{m.text}}</p>
			{% endfor %}
			<textarea id="message" rows="4" cols="50"></textarea>
			<input id="threadId" type="hidden" value="{{ thread.pk }}"/>
			<button id="messageSend">Send</button>
		</div>
			
{% endblock %}
