

body{
	position: relative;
	background : #aaa;
}

div{
	margin-bottom:7px;
}

div.panel{
	position: relative;
	border-radius: 10px;
	background : #fff;
	box-shadow: 5px 5px 5px #999;
	padding:3px;
}

div.side{
	float: left;
	margin-left:7px;
	width: 25%;
	min-height: 150px;
}

div.column{
	margin-left:27%;
	margin-right:7px;
	width: 72%;
}

div.thread{
	min-height: 100px;
}

p.strand{
	text-indent: 25px;
	text-align: justify;
	padding: 15px;
}

div#main{
	position: relative;
	width:800px;
	height:100%;
	margin:auto;
	background : #ccc;
	box-shadow: 5px 5px 5px #999, -5px 5px 5px #999;
}

div#header{
	position: relative;
	height: 150px;
	max-width: 100%;
	margin: 0px 7px 7px 7px;
}

.poster_font{
	color:#00f;
}

.timestamp_font{
	color:#777;
	margin-left:70%;
}


div.side ul{
	padding:15px;
}

div.side ul li{
	margin-bottom: 7px;
	border-bottom: 1px solid #ccc;
	font-size: 1.0em;
}

a:link{
	text-decoration: none;
	color:#000;
}

a:visited{
	color:#000;
}

a:active{
	color:#999;
}

a:hover{
	color:#999;
	text-decoration: underline;
}